a.badge.bg-secondary:hover {
    background-color: #0d6efd !important;
    color: #fff !important;
    text-decoration: none;
}
a.badge.bg-secondary {
    transition: background-color 0.2s ease, color 0.2s ease;
}


mark {
    background-color: #ffc107;
    padding: 0 2px;
    border-radius: 3px;
}

.card {
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #838687;
}


.page-link {
  transition: all 0.2s ease-in-out;
  border-radius: 6px;
}

.page-link:hover {
  background-color: var(--bs-primary);
  color: #fff;
  border-color: var(--bs-primary);
  box-shadow: 0 0 5px rgba(13, 110, 253, 0.5);
}